<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PageProtectionLogInPageOn" value="true"/>
    <add key="AppUrl" value="http://devprojectp.trafficmanager.net/"/>
    <add key="Lang" value="en/homepage"/>
    <!-- copy one of the following urls to the above tag, into value.
    Remember to check on  confluence, what tests should not be run on a production environment!
    "http://devprojectp.trafficmanager.net/"
    "http://primpreprod.trafficmanager.net/"  
    "http://priscdevcps72.trafficmanager.net/" 
    "http://priscdevcps72.cloudapp.net/"    
    "http://priscuatcps.cloudapp.net" 
    "http://www.primproxy2.trafficmanager.net/"
    "http://www.uat.primark.com/"
    "http://dba0054bd65040548532c90307dde3c1.cloudapp.net/"
    "https://www.primark.com/"
    "http://primproxy2.trafficmanager.net/"
    "http://primproxy-tst.trafficmanager.net/"
    "http://primprodstaging.trafficmanager.net/"
    "http://www.stage.primark.com/"
    "http://prodstaging.primark.com/"
    "http://8123044d71d94fcd832422048f817737.cloudapp.net/"
    -->
  </appSettings>
</configuration>